// about----------------------------------------------------------
.about {
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
}
.about__title {
  position: absolute;
  font-size: 70px;
  font-weight: 800;
  transform: translate(-50px, 8px);
  text-transform: uppercase;
  // color: $main-color;
  mix-blend-mode: difference;
}
.about__inner {
  border-bottom: 1px solid $main-color;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.about__item {
  background: #ffffff;
  border: 1px solid $main-color;
  mix-blend-mode: difference;
}
.about__item-1 {
  grid-column: 1/2;
  grid-row: 2/7;
  opacity: 0;
}
.about__item-1._active {
  animation: about-item-1 0.8s 0.2s forwards;
}
@keyframes about-item-1 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(-15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.about__item-2 {
  grid-column: 2/5;
  grid-row: 1/7;
  opacity: 0;
}
.about__item-2._active {
  animation: about-item-2 0.8s;
  opacity: 1;
}
@keyframes about-item-2 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(-15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.about__item-3 {
  grid-column: 1/4;
  grid-row: 7/11;
  opacity: 0;
}
.about__item-3._active {
  animation: about-item-3 0.8s 0.1s forwards;
}
@keyframes about-item-3 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.about__item-4 {
  grid-column: 3/5;
  grid-row: 7/11;
  opacity: 0;
}
.about__item-4._active {
  animation: about-item-4 0.8s 0.2s forwards;
}
@keyframes about-item-4 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.about__item-5 {
  grid-column: 4/5;
  grid-row: 7/11;
  opacity: 0;
}
.about__item-5._active {
  animation: about-item-5 0.8s 0.5s forwards;
}
@keyframes about-item-5 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }
  95% {
    transform: translate3d(3px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.scills {
  padding: 12px;
}
.scills__title {
  text-align: center;
  font-size: 22px;
}
.scills__list {
  padding-left: 20px;
  li {
    list-style: none;
    padding: 1px 2px;
  }
  .scills__item {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 8px;
  }
  .scills__subitem {
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 10px;
  }
}
.general {
  padding: 45px 30px;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  // color: $main-color;
}

//form------------------------
.form-wrapper {
  background: #ffffff;
  // color: $main-color;
}

//contacts
.contactss {
  text-align: center;
  padding: 15px;
  &__phone {
    display: inline-block;
    position: relative;
    padding-left: 22px;
    line-height: 22px;
    margin-top: 15px;
    &::before {
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      top: 0;
      content: "";
      background-image: url(../img/mobile.svg);
      background-size: cover;
    }
  }
  &__email {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    line-height: 22px;
    margin-top: 15px;
    &::before {
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      top: 0;
      content: "";
      background-image: url(../img/envelop.svg);
      background-size: cover;
    }
  }
}
.icon-vk {
  fill: $main-color;
  transition: 0.3s;
  &:hover {
    fill: rgb(93, 108, 155);
  }
}

// end-about-------------------------
// form-------------------------------
.form {
  padding: 0 20px;
}
.form__body {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411) url(../img/loading.gif) center 50% no-repeat;
    opacity: 0;
    visibility: hidden;
  }
}
.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__title {
  font-size: 30px;
  text-align: center;
}
.form__item {
  margin-bottom: 10px;
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form__input {
  height: 35px;
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 0 20px;
  margin-bottom: 5px;
  font-size: 18px;
  border: 1px solid $main-color;
  &:focus {
    box-shadow: 0 0 5px #00e1ff, 0 0 10px #00e1ff, 0 0 15px #00e1ff;
  }
}
.form__input._error {
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
}
textarea.form__input {
  min-height: 120px;
  width: 73%;
  resize: vertical;
  padding: 20px;
  outline: none;
  border: 1px solid $main-color;
}
.form__button {
  position: absolute;
  top: 80%;
  right: 30px;
  display: inline-flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  // background: $main-color;
  color: #ffffff;
  border-radius: 3px;
  border: 1 px solid;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  // color: #ffffff;
  cursor: pointer;
}
// .checkbox__label {
//   font-size: 16px;
//   line-height: 140%;
//   display: inline-flex;
//   align-items: center;
//   position: relative;
//   cursor: pointer;
//   &::before {
//     content: "";
//     align-self: flex-start;
//     margin-right: 10px;
//     flex: 0 0 24px;
//     height: 24px;
//     background: rgb(255, 255, 255);
//     border-radius: 3px;
//   }
//   &::after {
//     content: "";
//     transform: scale(0);
//     transition: 0.3s;
//     // flex: 0 0 10px;
//     width: 20px;
//     height: 20px;
//     background: #00e1ff;
//     position: absolute;
//     left: 2px;
//     top: 2px;
//     clip-path: polygon(18% 30%, 0 55%, 51% 100%, 100% 18%, 78% 0, 44% 53%);
//   }
// }
