// about----------------------------------------------------------
.about {
  position: relative;
  padding-top: 50px;
  margin-bottom: 50px;
}
.about__title {
  position: absolute;
  font-size: 70px;
  font-weight: 800;
  transform: translate(-50px, 8px);
  text-transform: uppercase;
  color: $main-color;
  mix-blend-mode: difference;
}
.about__inner {
  height: calc(100vh - 6vh);
  border-bottom: 1px solid $main-color;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.about__item {
  background: #ffffff;
  border: 1px solid $main-color;
  mix-blend-mode: difference;
}
.about__item-1 {
  grid-column: 1/2;
  grid-row: 2/7;
  opacity: 0;
}
.about__item-1._active {
  animation: about-item-1 0.8s 0.2s forwards;
}
@keyframes about-item-1 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(-15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.about__item-2 {
  grid-column: 2/5;
  grid-row: 1/7;
  opacity: 0;
}
.about__item-2._active {
  animation: about-item-2 0.8s;
  opacity: 1;
}
@keyframes about-item-2 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(-15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.about__item-3 {
  grid-column: 1/4;
  grid-row: 7/11;
  opacity: 0;
}
.about__item-3._active {
  animation: about-item-3 0.8s 0.1s forwards;
}
@keyframes about-item-3 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.about__item-4 {
  grid-column: 3/5;
  grid-row: 7/11;
  opacity: 0;
}
.about__item-4._active {
  animation: about-item-4 0.8s 0.2s forwards;
}
@keyframes about-item-4 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.about__item-5 {
  grid-column: 4/5;
  grid-row: 7/11;
  opacity: 0;
}
.about__item-5._active {
  animation: about-item-5 0.8s .5s forwards;
}
@keyframes about-item-5 {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 1;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    transform: translate3d(0, 0, 0);
  }

  75% {
    transform: translate3d(15px, 0, 0);
  }

  90% {
    transform: translate3d(0, 0, 0);
  }
  95% {
    transform: translate3d(3px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.scills{
  padding: 15px;
}
.scills__title{
  text-align: center;
  font-size: 25px;
}
.scills__list{
  padding-left: 20px;
  li{
    list-style: none;
    padding: 2px;
  }
  .scills__item{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 8px;
  }
  .scills__subitem{
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 10px;
  }
}
.general{
  padding: 45px 30px;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  color: $main-color;
}

//form------------------------
.form-wrapper{
  background: $main-color;
  color:#ffffff;
}

//contacts
.contactss{
  text-align: center;
  padding: 15px;
  &__phone{
    display: inline-block;
    position: relative;
    padding-left: 22px;
    line-height: 22px;
    margin-top: 15px;
    &::before{
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      top: 0;
      content: "";
      background-image: url(../img/mobile.svg);
      background-size: cover;
    }
  }
  &__email{
    display: inline-block;
    position: relative;
    padding-left: 25px;
    line-height: 22px;
    margin-top: 15px;
    &::before{
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      top: 0;
      content: "";
      background-image: url(../img/envelop.svg);
      background-size: cover;
    }
  }
}

// end-about-------------------------
// form-------------------------------
.form {
  max-width: 550px;
  // margin: 0 auto;
  color: rgb(163, 159, 159);
  padding-top: 30px 0;
}
.form__body{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411) url(../img/loading.gif) center 50% no-repeat;
    opacity: 0;
    visibility: hidden;
  }
}
.form__body._sending::after{
  opacity: 1;
  visibility: visible;
}
.form__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.form__item {
  margin-bottom: 20px;
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.form__input {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: none;
  padding: 0 20px;
  margin-bottom: 10px;
  font-size: 18px;
  &:focus{
    box-shadow: 0 0 5px #00e1ff, 0 0 10px #00e1ff,
    0 0 15px #00e1ff;
  }
}
textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}
.options {
  padding: 10px 0 0 0;
}
.options__item {
  margin: 0 0 10px 0;
}
.options__input {
  display: none;
}
.options__input:checked + .options__label::after {
  transform: scale(1);
}
.options__label {
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
  &::after {
    transition: all 0.3s;
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #000;
    top: 5px;
    left: 5px;
    transform: scale(0);
  }
}
.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button{
  display: inline-flex;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background: #00e1ff;
  border-radius: 8px;
}
.file__preview{
  display: inline-block;
  max-width: 100px;
  padding: 10px 0 0 0;
}
.file__preview img {
  max-width: 100%;
}
.checkbox__label{
  font-size: 16px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  &::before{
    content: "";
    align-self: flex-start;
    margin-right: 10px;
    flex: 0 0 24px;
    height: 24px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
  }
  &::after{
    content: "";
    transform: scale(0);
    transition: .3s;
    // flex: 0 0 10px;
    width: 20px;
    height: 20px;
    background: #00e1ff;
    position: absolute;
    left: 2px;
    top: 2px;
    clip-path: polygon(18% 30%, 0 55%, 51% 100%, 100% 18%, 78% 0, 44% 53%);
  }
}
.checkbox__input{
  display: none;
}
.checkbox__input:checked + .checkbox__label::after{
  transform: scale(1);
}
.form__input._error{
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000,
    0 0 15px #ff0000;
}
.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000,
    0 0 15px #ff0000;
}

// .form {
// 	// max-width: 550px;
// 	margin: 0px auto;
// 	color: #fff;
// }

// .form * {
// 	outline: none;
// }

// .form__body {
// 	position: relative;
// }
// .form__body::after {
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
// 	opacity: 0;
// 	visibility: hidden;
// 	transition: all 0.5s ease 0s;
// }
// .form__body._sending::after {
// 	opacity: 1;
// 	visibility: visible;
// }

// .form__title {
// 	font-size: 40px;
// 	font-weight: 700;
// 	margin: 0px 0px 30px 0px;
// }
// .form__item {
// 	margin: 0px 0px 20px 0px;
// }
// .form__label {
// 	font-size: 18px;
// 	display: block;
// 	margin: 0px 0px 10px 0px;
// }
// .form__input {
// 	height: 50px;
// 	padding: 0px 20px;
// 	border-radius: 5px;
// 	width: 100%;
// 	font-size: 18px;
// 	transition: all 0.5s ease 0s;
// }

// .form__input:focus {
// 	box-shadow: 0 0 15px #7a956b;
// }
// .form__input._error {
// 	box-shadow: 0 0 15px red;
// }

// textarea.form__input {
// 	min-height: 120px;
// 	resize: vertical;
// 	padding: 20px;
// }

// .options {
// 	padding: 10px 0px 0px 0px;
// }
// .options__item {
// 	margin: 0px 0px 10px 0px;
// }
// .options__input {
// 	display: none;
// }

// .options__input:checked + .options__label::after {
// 	transform: scale(1);
// }

// .options__label {
// 	display: inline-flex;
// 	font-size: 16px;
// 	line-height: 140%;
// 	align-items: center;
// 	position: relative;
// 	cursor: pointer;
// }
// .options__label::before {
// 	content: "";
// 	align-self: flex-start;
// 	flex: 0 0 24px;
// 	height: 24px;
// 	background-color: #fff;
// 	border-radius: 50%;
// 	margin: 0px 10px 0px 0px;
// }
// .options__label::after {
// 	transition: transform 0.5s ease 0s;
// 	content: "";
// 	position: absolute;
// 	top: 4px;
// 	left: 4px;
// 	width: 16px;
// 	height: 16px;
// 	background-color: #7a956b;
// 	border-radius: 50%;
// 	transform: scale(0);
// }

// .file__item {
// 	position: relative;
// }
// .file__input {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	opacity: 0;
// 	font-size: 0;
// 	cursor: pointer;
// }
// .file__button {
// 	display: inline-flex;
// 	min-height: 40px;
// 	border-radius: 30px;
// 	justify-content: center;
// 	align-items: center;
// 	background-color: #77608d;
// 	padding: 0px 20px;
// }
// .file__preview {
// 	display: inline-block;
// 	max-width: 100px;
// 	padding: 10px 0px 0px 0px;
// }
// .file__preview img {
// 	max-width: 100%;
// }
// .checkbox._error .checkbox__label::before {
// 	box-shadow: 0 0 15px red;
// }
// .checkbox__input {
// 	display: none;
// }
// .checkbox__input:checked + .checkbox__label::after {
// 	transform: scale(1);
// }

// .checkbox__label {
// 	font-size: 16px;
// 	line-height: 140%;
// 	display: inline-flex;
// 	align-items: center;
// 	position: relative;
// 	cursor: pointer;
// }

// .checkbox__label::before {
// 	content: "";
// 	align-self: flex-start;
// 	flex: 0 0 24px;
// 	height: 24px;
// 	background-color: #fff;
// 	border-radius: 4px;
// 	margin: 0px 10px 0px 0px;
// }
// .checkbox__label::after {
// 	transition: transform 0.5s ease 0s;
// 	content: "";
// 	width: 16px;
// 	height: 16px;
// 	position: absolute;
// 	top: 4px;
// 	left: 4px;
// 	background-color: #7a956b;
// 	border-radius: 4px;
// 	transform: scale(0);
// }

// .checkbox__label a {
// 	color: #7a956b;
// }

// .form__button {
// 	width: 100%;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	min-height: 60px;
// 	background-color: #7a956b;
// 	color: #fff;
// 	font-size: 18px;
// 	text-transform: uppercase;
// 	letter-spacing: 2px;
// 	font-weight: 700;
// 	cursor: pointer;
// 	border-radius: 20px;
// 	box-shadow: 0 5px 0 #161b13;
// 	transition: background-color 0.5s ease 0s;
// 	position: relative;
// 	top: 0;
// }
// .form__button:hover {
// 	background-color: #4f6146;
// }
// .form__button:active {
// 	top: 3px;
// 	box-shadow: 0 2px 0 #161b13;
// }