html{
  font-size: 15px;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  // max-width: 1920px;
  // background: rgba(196, 163, 163, 0.426);
  // height: 100vh;
  margin: 0 auto;
  // display: flex;
  // position: relative;
  // background: rgb(241, 166, 166);
  // max-width: 1920px;
  max-width: 1140px;
  width: 100%;
}