html{
  font-size: 15px;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-family: "Fira Sans", sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  margin: 0 auto;
  // background: rgb(241, 166, 166);
}