
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

.gw-parts-scene {
  width: 20vw;
  height: 80vh;
  // border: 1px solid rgb(13, 235, 224);
  overflow: hidden;
  position: relative;
  overflow: visible;
}

.gw-part {
  background-color: hsl(0, 0%, 100%);
  width: 0;
  height: 0;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  transform: translateX(0) translateY(0);
  transition-timing-function: linear;
  /* transition-delay: 500ms; */
}

.gw-part__item {
  content: "";
  display: block;
  background-color: hsl(0, 0%, 100%);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  transition-timing-function: linear;
}
