@media (max-width: 1600px) {
  .header__text {
    animation: header__text-1600 3s linear forwards;
  }
  @keyframes header__text-1600 {
    0% {
      transform: rotate(3deg) translateY(-50%) translateX(10%);
    }
    30% {
      transform: rotate(3deg) translateY(-50%) translateX(90%);
    }
    67% {
      transform: rotate(3deg) translateY(-50%) translateX(90%);
    }
    72% {
      transform: rotate(-1deg) translateY(-43%) translateX(90%);
    }
    78% {
      transform: rotate(0deg) translateY(-52%) translateX(90%);
    }
    100% {
      transform: rotate(0deg) translateY(-50%) translateX(90%);
    }
  }
}
@media (max-width: 1536px) {
  .header__text {
    animation: header__text-1536 3s linear forwards;
  }
  @keyframes header__text-1536 {
    0% {
      transform: rotate(3deg) translateY(-50%) translateX(10%);
    }
    30% {
      transform: rotate(3deg) translateY(-50%) translateX(80%);
    }
    67% {
      transform: rotate(3deg) translateY(-50%) translateX(80%);
    }
    72% {
      transform: rotate(-1deg) translateY(-43%) translateX(80%);
    }
    78% {
      transform: rotate(0deg) translateY(-52%) translateX(80%);
    }
    100% {
      transform: rotate(0deg) translateY(-50%) translateX(80%);
    }
  }
}
@media (max-width: 1440px) {
  .header__title {
    font-size: 3.2rem;
  }
  .header__text {
    padding: 41px 122px;
  }
}
@media (max-width: 1408px) {
  .header__title {
    font-size: 3.1rem;
  }
  .header__text {
    padding: 37px 118px;
  }
}
@media (max-width: 1280px) {
  .header__top {
    padding: 6px 15px 0 302px;
    span {
      font-size: 1.1rem;
    }
  }
  .header__menu {
    padding: 0;
  }
  .eue-inp {
    width: 215px;
  }
  .header__bg {
    height: 610px;
  }
  .header__title {
    font-size: 2.6rem;
  }
  .header__text {
    padding: 30px 110px;
  }
}
@media (max-width: 1200px) {
  .header__top {
    font-size: 1rem;
    span {
      font-size: 0.8rem;
    }
  }
  .lang {
    width: 100px;
  }
  .eue-inp {
    width: 173px;
  }
  .eye-switch[type="checkbox"]::before {
    top: 0;
  }
  .header__bg {
    height: 510px;
  }
  .header__title {
    font-size: 2.3rem;
  }
  .header__text {
    padding: 25px 105px;
  }
}
@media (max-width: 1152px) {
  .header__title {
    font-size: 2.2rem;
  }
  .header__text {
    padding: 23px 100px;
  }
}
@media (max-width: 1024px) {
  .header {
    max-height: 768px;
  }
  .header__top {
    padding-left: 200px;
  }
  .header__bg {
    height: 490px;
    margin-top: 20px;
  }
  .header__title {
    font-size: 2.1rem;
  }
  .header__subtitle {
    font-size: 1.2rem;
  }
  .header__text {
    padding: 19px 86px;
    &-mask {
      border: 2px solid #373841;
    }
  }
}
@media (max-width: 960px) {
  .header {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header__top{
    padding-left: 0;
  }
  .menu-btn {
    display: block;
  }
  .header__menu {
    position: absolute;
    right: 15px;
    top: 0;
    height: 125px;
    justify-content: center;
    flex-direction: column;
    transition: 1s;
    transform: translateY(-500px);
    &_item {
      margin: 0;
      padding: 7px 0;
      width: 320px;
      text-align: center;
      border: 1px solid #ffffff;
      border-radius: 2px;
      background: $main-color;
      color: #fff;
      font-size: 1.3rem;
      background: rgb(64, 223, 215);
      mix-blend-mode: luminosity;
    }
  }
  .header__checkbox-wrapper {
    padding-left: 30px;
  }
  .header__title {
    font-size: 1.9rem;
  }
  .header__subtitle {
    font-size: 0.95rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 854px) {
  .header__bg {
    height: 530px;
    margin-top: 45px;
    // opacity: .5;
    &-wrapper {
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
    }
  }
  .header__title {
    font-size: 1.7rem;
  }
  .header__subtitle {
    font-size: 0.95rem;
    line-height: 1.2rem;
  }
  .header__text {
    padding: 18px 85px;
    top: 85%;
    left: 50%;
    width: 454px;
    transform: translateX(-50%);
    animation: header__text-854 3s linear forwards;
    &-mask {
      border: 2px solid #373841;
    }
  }
  // @keyframes header__text-854 {
  //   0% {
  //     transform: rotate(3deg) translateY(-50%) translateX(10%);
  //   }
  //   30% {
  //     transform: rotate(3deg) translateY(-50%) translateX(-50%);
  //   }
  //   67% {
  //     transform: rotate(3deg) translateY(-50%) translateX(-50%);
  //   }
  //   72% {
  //     transform: rotate(-1deg) translateY(-43%) translateX(-50%);
  //   }
  //   78% {
  //     transform: rotate(0deg) translateY(-52%) translateX(-50%);
  //   }
  //   100% {
  //     transform: rotate(0deg) translateY(-50%) translateX(-50%);
  //   }
  // }
}
@media (max-width: 484px){
  .header__text{
    padding: 17px 0;
    width: 430px;
    display: none;
  }
  .header__title {
    font-size: 1.6rem;
  }
  .header__subtitle {
    font-size: 0.90rem;
    line-height: 1.1rem;
  }
}
