$main-bg: #fff;
// $main-color: #1fd0f0;
// $main-color: #04D7DF;
//$main-color: #B721EE;
// #25ECF0 крутой цвет
// #0CECF4 тоже
$main-color: #373841;
$main-font: #0a0a0a;
// fill: #00ffb3;
$section-border: rgb(159, 32, 170);
$button-to-top-color: #09e3eb;