// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "vars";
@import "libs";
@import "fonts";
@import "global";

// blocks

// p{
//   font-size: 3rem;
//   background: #c91313;
//   color: #000;
// }

//Header-------------------------------------- 
// header-bg-animation------------------------
.workspace{
  fill: #282A36;
  opacity: 0;
  animation: workspace 2s linear 1s 1 forwards;
}
@keyframes workspace{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.stroke-numbers {
  fill: #85857b;
}
.purple-rect {
  fill: #ff79c6;
}
.green-rect {
  fill: #50d94b;
}
.white-rect {
  fill: #ddebf2;
}
.yellow-rect {
  fill: #e4fa8c;
}

// stroke-1--------------------------------
.stroke-number-1{
  animation: stroke-number-1 0.1s linear 3s 1 forwards;
  width: 0px;
}
@keyframes stroke-number-1{
  0%{
    width: 0;
  }
  1%{
    width: 10px;
  }
  100%{
    width: 10px;
  }
}
.purple-rect-1{
  opacity: 0;
  animation: purple-rect-1 0.4s linear 3s 1 forwards;
}
@keyframes purple-rect-1{
  0%{
    opacity: 1;
    width: 10px;
  }
  99%{
    width: 10px;
  }
  100%{
    opacity: 1;
    width: 60px;
  }
}
.green-rect-1{
  opacity: 0;
  animation: green-rect-1 0.1s linear 4s 1 forwards;
}
@keyframes green-rect-1{
  0%{
    opacity: 1;
    width: 10px;
  }
  50%{
    width: 10px;
  }
  100%{
    opacity: 1;
    width: 37px;
  }
}
// end stroke-1-------------------------------
// stroke-2-----------------------------------
.stroke-number-2{
  animation: stroke-number-2 0.1s linear 5s 1 forwards;
  width: 0px;
}
@keyframes stroke-number-2{
  0%{
    width: 0;
  }
  1%{
    width: 10px;
  }
  100%{
    width: 10px;
  }
}
.purple-rect-2{
  opacity: 0;
  animation: purple-rect-2 0.3s linear 5s 1 forwards;
}
@keyframes purple-rect-2{
  0%{
    opacity: 1;
    width: 10px;
  }
  99%{
    width: 10px;
  }
  100%{
    opacity: 1;
    width: 34px;
  }
}
.green-rect-2{
  opacity: 0;
  animation: green-rect-2 0.8s linear 6s 1 forwards;
}
@keyframes green-rect-2{
  0%{
    opacity: 1;
    width: 10px;
  }
  50%{
    width: 10px;
  }
  51%{
    width: 20px;
  }
  75%{
    width: 20px;
  }
  76%{
    width: 30px;
  }
  99%{
    width: 30px;
  }
  100%{
    opacity: 1;
    width: 41px;
  }
}
.yellow-rect-1{
  opacity: 0;
  animation: yellow-rect-1 0.3s linear 8s 1 forwards;
}
@keyframes yellow-rect-1{
  0%{
    opacity: 1;
    width: 10px;
  }
  99%{
    width: 10px;
  }
  100%{
    opacity: 1;
    width: 41px;
  }
}
// end stroke-2-------------------------------
// stroke-3-----------------------------------
.stroke-number-3{
  animation: stroke-number-3 0.1s linear 9s 1 forwards;
  width: 0px;
}
@keyframes stroke-number-3{
  0%{
    width: 0;
  }
  1%{
    width: 10px;
  }
  100%{
    width: 10px;
  }
}
// end stroke-3-------------------------------
// stroke-4-----------------------------------
.stroke-number-4{
  animation: stroke-number-4 0.1s linear 10s 1 forwards;
  width: 0px;
}
@keyframes stroke-number-4{
  0%{
    width: 0;
  }
  1%{
    width: 10px;
  }
  100%{
    width: 10px;
  }
}
.purple-rect-3{
  opacity: 0;
  animation: purple-rect-3 0.9s linear 10s 1 forwards;
}
@keyframes purple-rect-3{
  0%{
    opacity: 1;
    width: 10px;
  }
  30%{
    width: 10px;
  }
  31%{
    width: 20px;
  }
  99%{
    width: 20px;
  }
  100%{
    opacity: 1;
    width: 34px;
  }
}
// end stroke-4-------------------------------
// stroke-5-----------------------------------
.stroke-number-5{
  animation: stroke-number-5 0.1s linear 12s 1 forwards;
  width: 0px;
}
@keyframes stroke-number-5{
  0%{
    width: 0;
  }
  1%{
    width: 10px;
  }
  100%{
    width: 10px;
  }
}
.purple-rect-4{
  opacity: 0;
  animation: purple-rect-4 0.5s linear 12s 1 forwards;
}
@keyframes purple-rect-4{
  0%{
    opacity: 1;
    width: 10px;
  }
  50%{
    width: 10px;
  }
  51%{
    width: 20px;
  }
  70%{
    width: 20px;
  }
  71%{
    width: 30px;
  }
  99%{
    width: 30px;
  }
  100%{
    opacity: 1;
    width: 40px;
  }
}
.green-rect-3{
  opacity: 0;
  animation: green-rect-3 0.3s linear 13.2s 1 forwards;
}
@keyframes green-rect-3{
  0%{
    opacity: 1;
    width: 10px;
  }
  99%{
    width: 10px;
  }
  100%{
    opacity: 1;
    width: 55px;
  }
}
.yellow-rect-2{
  opacity: 0;
  animation: yellow-rect-2 2s linear 13.8s 1 forwards;
}
@keyframes yellow-rect-2{
  0%{
    opacity: 0;
    width: 3px;
  }
  19%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  39%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  54%{
    opacity: 0;
    width: 3px;
  }
  55%{
    opacity: 1;
    width: 10px;
  }
  69%{
    width: 10px;
  }
  70%{
    width: 20px;
  }
  79%{
    width: 20px;
  }
  80%{
    width: 30px;
  }
  89%{
    width: 30px;
  }
  90%{
    width: 40px;
  }
  99%{
    width: 40px;
  }
  100%{
    opacity: 1;
    width: 50px;
  }
}
// end stroke-5-------------------------------
// stroke-6-----------------------------------
// end stroke-6-------------------------------
// stroke-7-----------------------------------
// end stroke-7-------------------------------
// stroke-8-----------------------------------
// end stroke-8-------------------------------
// stroke-9-----------------------------------
// end stroke-9-------------------------------
// stroke-10-----------------------------------
// end stroke-10-------------------------------
// stroke-11-----------------------------------
// end stroke-11-------------------------------
// stroke-12-----------------------------------
// end stroke-12-------------------------------
// stroke-13-----------------------------------
// end stroke-13-------------------------------
// stroke-14-----------------------------------
// end stroke-14-------------------------------
// end-header-bg-animation---------------------
.header{
  height: 100vh;
}
.header__inner{
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  // background: rgb(107, 231, 173);
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 100px;
  position: fixed;
  left: 0;
  top: 0;
}
.header__bg-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: .2;
  z-index: -1;
}
.header__menu{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-right: 300px;
  .header__menu_item{
    padding: 0 20px;
    text-decoration: none;
    color: $main-font;
  }
}
.lang-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lang-rus{
  padding: 0 5px;
  text-transform: uppercase;
}
.lang-en{
  padding: 0 5px;
  text-transform: uppercase;
}
// end-header------------------------
// about-----------------------------
.about{
  height: 100vh;
}
.portfolio{
  height: 100vh;
}
.contacts{
  height: 100vh;
}
// end-about-------------------------





@import "media";
