// @import '../../node_modules/slick-carousel/slick/slick';
// @import '../../node_modules/magnific-popup/dist/magnific-popup';
@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "animation";

// blocks

// p{
//   font-size: 3rem;
//   background: #c91313;
//   color: #000;
// }

//Header-------------------------------------- 
.header{
  height: 100vh;
}
.header__inner{
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 17px 100px;
  position: fixed;
  left: 0;
  top: 0;
}
.header__bg-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: .2;
  z-index: -1;
}
.header__menu{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-right: 300px;
  .header__menu_item{
    padding: 0 20px;
    text-decoration: none;
    color: $main-font;
  }
}
.lang{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 180px;
  // background: rgb(155, 7, 7);
}
.change__language[type="checkbox"] {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 2px;
  transform: translateX(-50%);
  z-index: 3;
  width: 50px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 3px rgba(6, 185, 230, 0.4);
  cursor: pointer;
}
.change__language[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #04d7df;
  border-radius: 20px;
  transform: scale(.98, .96);
  transition: .4s;
  animation: change-language 0.4s linear 1 forwards;
}
@keyframes change-language{
  0%{
    transform: translateX(30px);
  }
  50%{
    transform: translateX(0);
    width: 37px;
  }
  100%{
    transform: translateX(0);
    width: 20px;
  }
}
.change__language:checked[type="checkbox"]::before {
  animation: change-language-checked 0.4s linear 1 forwards;
}
@keyframes change-language-checked{
  0%{

  }
  50%{
    width: 37px;
  }
  100%{
    transform: translateX(30px);
    width: 20px;
  }
}
.lang__rus{
  padding: 0 5px;
  text-transform: uppercase;
  overflow: visible;
  position: relative;
}
.paint-smear{
  position: absolute;
  left: -10px;
  width: 70px;
  z-index: -2;
}
.paint-smear-en{
  position: absolute;
  right: -25px;
  width: 70px;
  z-index: -2;
}
.paint-smear-mask{
  width: 70px;
  height: 21px;
  position: absolute;
  left: -10px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  transition: 1s;
}
.paint-smear-mask-en{
  width: 70px;
  height: 21px;
  position: absolute;
  right: -25px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  transition: 1s;
}
.go-right{
  transform: translateX(70px);
}
.go-left{
  transform: translateX(-70px);
}
.disp-none{
  transition: .2s;
  opacity: 0;
}
.bg-white{
  background: #fff;
}
.lang__en{
  padding: 0 5px;
  text-transform: uppercase;
  overflow: visible;
}
// end-header------------------------
// about-----------------------------
.about{
  height: 100vh;
}
// end-about-------------------------
.portfolio{
  height: 100vh;
}
.contacts{
  height: 100vh;
}





@import "media";
